body {
    font-family: 'Kanit', sans-serif !important;
    font-size: 18px;
  }


.th-tables {
  text-align: center ;
  width: 10%;
}
  
.scrollable-div {
  font-size: 10px !important;
  width: 100%; /* Establece el ancho que desees */
  height: 450px; /* Establece la altura que desees */
  overflow: auto; /* Esta propiedad activa el scroll cuando el contenido es más grande que las dimensiones del contenedor */
}
  