body {
    font-family: 'Kanit', sans-serif !important;
    font-size: 18px;
  }


.th-tables {
  text-align: center ;
  width: 11%;
}


.td-tables {
  white-space: pre-wrap;
  line-height: 0.8; /* Ajusta este valor según tus preferencias */
}



.scrollable-div {
  font-size: 9px !important;
  height: 350px; /* Establece la altura que desees */
  overflow: auto; /* Esta propiedad activa el scroll cuando el contenido es más grande que las dimensiones del contenedor */
}
  