body {
  font-family: 'Kanit', sans-serif !important;
  font-size: 16px;
}


.th-tables {
text-align: center ;
width: 11%;
padding: 3px !important
}


.td-tables {
white-space: pre-wrap;
line-height: 0.7; /* Ajusta este valor segÃºn tus preferencias */
text-align: left;
padding: 0px !important;
}

.kk {
  margin-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.ll {
  margin-left: 2rem !important;
}
.tall{
  height: 320px !important;
}
.tam{
  height: 48px !important;
}


.scrollable-div {
font-size: 9px !important;
height: 350px; /* Establece la altura que desees */
overflow: auto; /* Esta propiedad activa el scroll cuando el contenido es mÃ¡s grande que las dimensiones del contenedor */
}