{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Scraper Binance</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{% static "css/styles.css" %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
        <link href="{% static "css/arreglo.css" %}" rel="stylesheet" />
        <link rel="icon" href="{% static "assets/logo.ico" %}">
        <!--Font-Google-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3 ms-4" href="/dash/">   Arbitrium</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar-->
            <ul class="navbar-nav  ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Configuración</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                        </ul>
                    </div>              
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Principal</div>
                            <a class="nav-link" href="/dash/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Herramientas</div>
                            <a class="nav-link" href="{% url 'tables' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div> 
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="card mb-4 scrollable-div">
                        <div class="card-body">
                            <TABLE id="scrap-table" class="table table-bordered table-success" BORDER>
                                <TR>
                                    <TD>
                                        <TH class="th-tables">USDT</TH>
                                        <TH class="th-tables">BTC</TH>
                                        <TH class="th-tables">ETH</TH>
                                        <TH class="th-tables">BNB</TH>
                                        <TH class="th-tables">DAI</TH>
                                        <TH class="th-tables">FDUSD</TH>
                                        <TH class="th-tables">DOGE</TH>
                                        <TH class="th-tables">ADA</TH>
                                        <TH class="th-tables">XRP</TH>
                                    </TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">1</TH>
                                    <TD id="usdt-1">-</TD>
                                    <TD id="btc-1">-</TD>
                                    <TD id="eth-1">-</TD>
                                    <TD id="bnb-1">-</TD>
                                    <TD id="dai-1">-</TD>
                                    <TD id="fdusd-1">-</TD>
                                    <TD id="doge-1">-</TD>
                                    <TD id="ada-1">-</TD>
                                    <TD id="xrp-1">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">2</TH>
                                    <TD id="usdt-2">-</TD>
                                    <TD id="btc-2">-</TD>
                                    <TD id="eth-2">-</TD>
                                    <TD id="bnb-2">-</TD>
                                    <TD id="dai-2">-</TD>
                                    <TD id="fdusd-2">-</TD>
                                    <TD id="doge-2">-</TD>
                                    <TD id="ada-2">-</TD>
                                    <TD id="xrp-2">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">3</TH>
                                    <TD id="usdt-3">-</TD>
                                    <TD id="btc-3">-</TD>
                                    <TD id="eth-3">-</TD>
                                    <TD id="bnb-3">-</TD>
                                    <TD id="dai-3">-</TD>
                                    <TD id="fdusd-3">-</TD>
                                    <TD id="doge-3">-</TD>
                                    <TD id="ada-3">-</TD>
                                    <TD id="xrp-3">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">4</TH>
                                    <TD id="usdt-4">-</TD>
                                    <TD id="btc-4">-</TD>
                                    <TD id="eth-4">-</TD>
                                    <TD id="bnb-4">-</TD>
                                    <TD id="dai-4">-</TD>
                                    <TD id="fdusd-4">-</TD>
                                    <TD id="doge-4">-</TD>
                                    <TD id="ada-4">-</TD>
                                    <TD id="xrp-4">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">5</TH>
                                    <TD id="usdt-5">-</TD>
                                    <TD id="btc-5">-</TD>
                                    <TD id="eth-5">-</TD>
                                    <TD id="bnb-5">-</TD>
                                    <TD id="dai-5">-</TD>
                                    <TD id="fdusd-5">-</TD>
                                    <TD id="doge-5">-</TD>
                                    <TD id="ada-5">-</TD>
                                    <TD id="xrp-5">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">6</TH>
                                    <TD id="usdt-6">-</TD>
                                    <TD id="btc-6">-</TD>
                                    <TD id="eth-6">-</TD>
                                    <TD id="bnb-6">-</TD>
                                    <TD id="dai-6">-</TD>
                                    <TD id="fdusd-6">-</TD>
                                    <TD id="doge-6">-</TD>
                                    <TD id="ada-6">-</TD>
                                    <TD id="xrp-6">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">7</TH>
                                    <TD id="usdt-7">-</TD>
                                    <TD id="btc-7">-</TD>
                                    <TD id="eth-7">-</TD>
                                    <TD id="bnb-7">-</TD>
                                    <TD id="dai-7">-</TD>
                                    <TD id="fdusd-7">-</TD>
                                    <TD id="doge-7">-</TD>
                                    <TD id="ada-7">-</TD>
                                    <TD id="xrp-7">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">8</TH>
                                    <TD id="usdt-8">-</TD>
                                    <TD id="btc-8">-</TD>
                                    <TD id="eth-8">-</TD>
                                    <TD id="bnb-8">-</TD>
                                    <TD id="dai-8">-</TD>
                                    <TD id="fdusd-8">-</TD>
                                    <TD id="doge-8">-</TD>
                                    <TD id="ada-8">-</TD>
                                    <TD id="xrp-8">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">9</TH>
                                    <TD id="usdt-9">-</TD>
                                    <TD id="btc-9">-</TD>
                                    <TD id="eth-9">-</TD>
                                    <TD id="bnb-9">-</TD>
                                    <TD id="dai-9">-</TD>
                                    <TD id="fdusd-9">-</TD>
                                    <TD id="doge-9">-</TD>
                                    <TD id="ada-9">-</TD>
                                    <TD id="xrp-9">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">10</TH>
                                    <TD id="usdt-10">-</TD>
                                    <TD id="btc-10">-</TD>
                                    <TD id="eth-10">-</TD>
                                    <TD id="bnb-10">-</TD>
                                    <TD id="dai-10">-</TD>
                                    <TD id="fdusd-10">-</TD>
                                    <TD id="doge-10">-</TD>
                                    <TD id="ada-10">-</TD>
                                    <TD id="xrp-10">-</TD>
                                </TR>
                            </TABLE>
                        </div>
                        </div>
                        <div class="card mb-4 scrollable-div">
                        <div class="card-body">
                            <TABLE id="scrap-table" class="table table-bordered table-danger" BORDER>
                                <TR>
                                    <TD>
                                        <TH class="th-tables">USDT</TH>
                                        <TH class="th-tables">BTC</TH>
                                        <TH class="th-tables">ETH</TH>
                                        <TH class="th-tables">BNB</TH>
                                        <TH class="th-tables">DAI</TH>
                                        <TH class="th-tables">FDUSD</TH>
                                        <TH class="th-tables">DOGE</TH>
                                        <TH class="th-tables">ADA</TH>
                                        <TH class="th-tables">XRP</TH>
                                    </TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">1</TH>
                                    <TD id="susdt-1">-</TD>
                                    <TD id="sbtc-1">-</TD>
                                    <TD id="seth-1">-</TD>
                                    <TD id="sbnb-1">-</TD>
                                    <TD id="sdai-1">-</TD>
                                    <TD id="sfdusd-1">-</TD>
                                    <TD id="sdoge-1">-</TD>
                                    <TD id="sada-1">-</TD>
                                    <TD id="sxrp-1">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">2</TH>
                                    <TD id="susdt-2">-</TD>
                                    <TD id="sbtc-2">-</TD>
                                    <TD id="seth-2">-</TD>
                                    <TD id="sbnb-2">-</TD>
                                    <TD id="sdai-2">-</TD>
                                    <TD id="sfdusd-2">-</TD>
                                    <TD id="sdoge-2">-</TD>
                                    <TD id="sada-2">-</TD>
                                    <TD id="sxrp-2">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">3</TH>
                                    <TD id="susdt-3">-</TD>
                                    <TD id="sbtc-3">-</TD>
                                    <TD id="seth-3">-</TD>
                                    <TD id="sbnb-3">-</TD>
                                    <TD id="sdai-3">-</TD>
                                    <TD id="sfdusd-3">-</TD>
                                    <TD id="sdoge-3">-</TD>
                                    <TD id="sada-3">-</TD>
                                    <TD id="sxrp-3">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">4</TH>
                                    <TD id="susdt-4">-</TD>
                                    <TD id="sbtc-4">-</TD>
                                    <TD id="seth-4">-</TD>
                                    <TD id="sbnb-4">-</TD>
                                    <TD id="sdai-4">-</TD>
                                    <TD id="sfdusd-4">-</TD>
                                    <TD id="sdoge-4">-</TD>
                                    <TD id="sada-4">-</TD>
                                    <TD id="sxrp-4">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">5</TH>
                                    <TD id="susdt-5">-</TD>
                                    <TD id="sbtc-5">-</TD>
                                    <TD id="seth-5">-</TD>
                                    <TD id="sbnb-5">-</TD>
                                    <TD id="sdai-5">-</TD>
                                    <TD id="sfdusd-5">-</TD>
                                    <TD id="sdoge-5">-</TD>
                                    <TD id="sada-5">-</TD>
                                    <TD id="sxrp-5">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">6</TH>
                                    <TD id="susdt-6">-</TD>
                                    <TD id="sbtc-6">-</TD>
                                    <TD id="seth-6">-</TD>
                                    <TD id="sbnb-6">-</TD>
                                    <TD id="sdai-6">-</TD>
                                    <TD id="sfdusd-6">-</TD>
                                    <TD id="sdoge-6">-</TD>
                                    <TD id="sada-6">-</TD>
                                    <TD id="sxrp-6">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">7</TH>
                                    <TD id="susdt-7">-</TD>
                                    <TD id="sbtc-7">-</TD>
                                    <TD id="seth-7">-</TD>
                                    <TD id="sbnb-7">-</TD>
                                    <TD id="sdai-7">-</TD>
                                    <TD id="sfdusd-7">-</TD>
                                    <TD id="sdoge-7">-</TD>
                                    <TD id="sada-7">-</TD>
                                    <TD id="sxrp-7">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">8</TH>
                                    <TD id="susdt-8">-</TD>
                                    <TD id="sbtc-8">-</TD>
                                    <TD id="seth-8">-</TD>
                                    <TD id="sbnb-8">-</TD>
                                    <TD id="sdai-8">-</TD>
                                    <TD id="sfdusd-8">-</TD>
                                    <TD id="sdoge-8">-</TD>
                                    <TD id="sada-8">-</TD>
                                    <TD id="sxrp-8">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">9</TH>
                                    <TD id="susdt-9">-</TD>
                                    <TD id="sbtc-9">-</TD>
                                    <TD id="seth-9">-</TD>
                                    <TD id="sbnb-9">-</TD>
                                    <TD id="sdai-9">-</TD>
                                    <TD id="sfdusd-9">-</TD>
                                    <TD id="sdoge-9">-</TD>
                                    <TD id="sada-9">-</TD>
                                    <TD id="sxrp-9">-</TD>
                                </TR>
                                <TR>
                                    <TH class="th-tables">10</TH>
                                    <TD id="susdt-10">-</TD>
                                    <TD id="sbtc-10">-</TD>
                                    <TD id="seth-10">-</TD>
                                    <TD id="sbnb-10">-</TD>
                                    <TD id="sdai-10">-</TD>
                                    <TD id="sfdusd-10">-</TD>
                                    <TD id="sdoge-10">-</TD>
                                    <TD id="sada-10">-</TD>
                                    <TD id="sxrp-10">-</TD>
                                </TR>
                            </TABLE>
                        </div>
                        </div>
                    </div>                
                </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Clever & Siddhi 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--Jquery de tablas-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-------------------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src='{% static "js/scripts.js" %}'></script>
    <script src='{% static "js/scrap.js" %}'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTable.js -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <!-- Agrega el archivo de idioma después de la referencia principal de DataTables -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>